*{
    box-sizing: border-box;
}

body{
    background: url('../images/background.png');
    margin: 10px;
}

.game-header{
    text-align: right;
}
.game-header h1{
  margin-right: 200px;
}


.character-boxs{
    width: 180px;
    height: 135px;
    background-color: #fff;
    text-align: center;
    border: 3px solid green;
    float: left;
    padding: 0 15px 0 15px;

}
img{
    /* centers the image */
    margin: 0 auto;
    width: 100%;
    height: 80px;
    margin-top: 0;
}
.character-boxs p{
    height: 10px;
}
#your-character{
    clear: both;
}
#enemies-to-attack{
    clear: both;
}
#fight-section{
    clear:both;
}
#defender{
    clear:both;
}
#display{
    clear:both;
}